
// ### Primary

$prRed: hsl(0, 100%, 74%) ;
$prGreen: hsl(154, 59%, 51%);

// ### Accent

$acBlue: hsl(248, 32%, 49%);

// ### Neutral
$nuDarkBlue: hsl(249, 10%, 26%) ;
$nuGrayishBlue: hsl(246, 25%, 77%);
